{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'en/index/style.scss' %}">
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block hero %}
<div class="hero">
    <div class="hero-text">
        <h1>HERO TITLE</h1>
        <p>DESCRIPTION</p>
    </div>
</div>
{% endblock %}
{% block content %}
<div>
    <section class="col-sm-4">
        <div>
            <ul>
                {% for comparison in comparisons %}
                <li><a href="/en/comparisons/{{ comparison.id }}">{{ comparison.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>
{% endblock %}
