{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'en/genre/style.scss' %}">
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block hero %}
<div class="hero">
    <div class="hero-text">
        <h1>HERO TITLE</h1>
        <p>DESCRIPTION</p>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="template">
    <ul>
        {% for genre in genres %}
        <li><a href="{% url 'en:genre' pk=genre.id %}">{{ genre.name }}</a></li>
        {% endfor %}
    </ul>
</div>


{% endblock %}
