{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'en/genre/style.scss' %}">
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block hero %}
<div class="hero">
    <div class="hero-text">
        <h1>HERO TITLE</h1>
        <p>DESCRIPTION</p>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="template">
    <ul>
        {% for occasion in occasions %}
        <li><a href="{% url 'en:occasion' pk=occasion.id %}">{{ occasion.name }}</a></li>
        {% endfor %}
    </ul>
</div>


{% endblock %}
