{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'en/index/style.scss' %}">
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block hero %}
<div class="hero">
    <div class="hero-text">
        <h1>HERO TITLE</h1>
        <p>DESCRIPTION</p>
    </div>
</div>
{% endblock %}
{% block content %}
<div>
    <p>You're about to create synonym associations listed below.</p>
    <ul>
        {% for synonym in synonyms_list %}
        <li>{{ synonym }}</li>
        <hr>
        {% endfor %}

    </ul>
    <ul>
        <p>Total Error: {{ error_count }}</p>
        {% for error in error_list %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
