{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'cuisine/add_dish/style.scss' %}">
{% endblock %}
{% block title %}New Dish & Recipe{% endblock %}
{% block hero %}

{% endblock %}
{% block content %}
<div class="bg-image"></div>
<h3>Add a New Dish</h3>
<form action="" method="post" enctype="multipart/form-data" class="row dish-content">
    <div>
        <section class="row dish">
            {{ form.as_p }}
        </section>

        <section class="col-12 column foods">
            <h5 class="ingredient-label">Foods</h5>
            <div class="row foods-inner">
                {% for food in foods %}

                <p class="ingredients col-sm-4 col-md-4 col-lg-3 col-xl-2">
                                    <label><input type="checkbox" name="food_pks[]" value="{{ food.id }}" class="checkbox_tick">{% if food.image %}<img src="{{ food.image.url }}" class="check_image">{% else %}<img src="/static/common/noimage_vrt.png" class="check_image">{% endif %}</label>
<span class="ingredient-name">{{ food.name_en }}</span>
                </p>

                {% endfor %}
                </select>
            </div>
        </section>

        <section class="col-12 column foods">
            <h5 class="ingredient-label">Condiments</h5>
            <div class="row foods-inner">
                {% for condiment in condiments %}
                <p class="ingredients col-sm-4 col-md-4 col-lg-3 col-xl-2">
                                    <label><input type="checkbox" name="condiment_pks[]" value="{{ condiment.id }}" class="checkbox_tick"><img src="/static/common/noimage_vrt.png" class="check_image"></label>
<span class="ingredient-name">{{ condiment.name_en }}</span>
                </p>
                {% endfor %}
                </select>
            </div>
        </section>

    </div>

    <section class="sentence">

        <div class="row">

            {{ formset.management_form }}
            {% for recipe_form in formset %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <h5>Process {{ forloop.counter }}</h5>
                {{ recipe_form.as_p }}
            </div>
            {% endfor %}
        </div>
    </section>


    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}
