{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'cuisine/dishes/style.scss' %}">
{% endblock %}
{% block title %}MY KITCHEN{% endblock %}
{% block hero %}
<div class="hero">
    <div class="hero-text">
        <div class="inner-text">
            <h1>My Kitchen</h1>
            <p>Explore Your Own Recipe</p>

        </div>
        <div class="searchBox">
            <form method="GET" action="{% url 'cuisine:search' %}" id="searchform">
                <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Enter a keyword" />
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

<p class="query">Keyword: {{ query }}</p>

<p>Foods Found</p>
<ul class="foods">
    {% for food in foods %}
    <li class="food">{{ food.name }}</li>
    {% endfor %}
</ul>

<ul class="row flex-wrap">
    {% for food in foods %}
    <h3 class="col-12">{{ food.name }}</h3>
    {% for dish in food.dishes.all %}


    <li class="item col-sm-6 col-md-4 col-lg-3">
        <a href="/cuisine/dishes/{{dish.id}}">
            <div class="item-box">
                <figure class="image">
                    {% if dish.image %}
                    <img src="{{dish.image.url}}" alt="{{dish.name}}">
                    {% else %}
                    <img src="{% static 'image/noimg.jpg' %}" alt="{{dish.name}}">
                    {% endif %}
                </figure>
                <div class="caption">
                    <span class="en_script">{{ dish.name_alpha}}</span>
                </div>
        </a>
    </li>

    {% endfor %}
    {% endfor %}
</ul>

{% endblock %}
